@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree|Bai+Jamjuree:bold");
@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:bold");
@import url("https://fonts.googleapis.com/css?family=Alata:bold");
@import url("https://fonts.googleapis.com/css?family=Alata");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --QUAIRED: #e20101;
  --PUREBLACK: #070d0d;
  --ALMOSTBLACK: #202020;
  --DARKGREY: #393939;
  --MIDGREY: #646464;
  --LIGHTGREY: #a1a1a1;
  --OFFWHITE: #e2e2e2;
  --PUREWHITE: #ffffff;
  --QUAIORANGE: #ee4c22;
  --SAFFRON: #fe9b40;
  --QUAIYELLOW: #ffc35a;
  --QUAIAPRICOT: #fec888;
  --DEEPTEAL: #0f4841;
  --QUAITEAL: #2c827d;
  --PELAGUSBLUE: #014164;
  --EMBARKBLUE: #016789;
  --LAGOSBLUE: #015375;
  --LIGHTBLUE: #017c9f;
}

@font-face {
  font-family: 'TTTravelsRegular';
  src: url('/assets/fonts/TT\ Travels\ Trial\ Regular.otf') format('opentype'); 
  font-weight: 400;
  font-style: normal;
}

.bg-container::before {
  transform: rotate(135deg);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #014062;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #016789;
}

.shard-data-div-active {
  /* background: linear-gradient(
    270deg,
    rgba(0, 181, 238, 0.3) -12.26%,
    rgba(0, 209, 255, 0.3) 123.21%
  ); */
}

.active-button-bg {
  background: linear-gradient(
    270deg,
    #00b5e9 -12.26%,
    rgba(0, 209, 255, 0) 123.21%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.pelagus-gradient-bg-full {
  background: linear-gradient(
    270deg,
    #195f72 -12.26%,
    rgba(0, 209, 255, 100) 123.21%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.shard-data-height {
  /* transition: height 0.4s linear; */
}

.fadeOut {
  opacity: 0;
  /* transition: width 0.1s 0.1s, height 0.1s 0.1s, opacity 0.1s; */
  width: 100%;
  height: 100%;
}

.fadeIn {
  opacity: 1;
  /* transition: width 0.1s, height 0.1s, opacity 0.1s 0.1s; */
  width: 100%;
  height: 100%;
}

.bodyDimensions {
  min-width: 375px;
  /* background: linear-gradient(
    359.98deg,
    #014062 -51.66%,
  #000511 106.18%
  ) !important; */
  min-height: 600px;
}

@layer components {
  .bg-container {
    @apply font-pelagus text-black dark:text-white dark:bg-black bg-zinc-50 bodyDimensions
  }

  .secondary-bg-container {
    @apply bg-white dark:bg-zinc-950 shadow-md
  }

  .home-button-outer {
    @apply relative inline-flex items-center justify-center m-1 overflow-hidden text-sm font-medium rounded-md dark:focus:ring-0 focus:outline-none;
  }

  .home-button-inner {
    @apply w-full text-center relative px-5 py-0.5 bg-transparent rounded-md group-hover:bg-opacity-0;
  }

  .send-form-input {
    @apply shadow appearance-none bg-white rounded w-full py-2 px-3  leading-tight focus:outline-none focus:border-quai-black focus:ring-1 focus:ring-quai-black;
  }

  .footer-button {
    @apply flex justify-center w-1/4 py-4 text-black dark:text-zinc-300 font-medium text-xs leading-tight uppercase hover:bg-zinc-200 dark:hover:bg-white/20 focus:outline-none focus:ring-0;
  }

  .footer-bg {
    @apply secondary-bg-container backdrop-blur-md backdrop-opacity-50;
  }

  .btn-hover {
    @apply hover:bg-zinc-950 hover:text-white dark:hover:bg-zinc-200 dark:hover:text-black cursor-pointer
  }

  .btn-class {
    @apply border p-3 btn-hover rounded-md shadow-sm flex justify-center bg-pelagus-dark-blue text-white dark:bg-pelagus-light-blue dark:border-none hover:text-pelagus-dark-blue hover:bg-zinc-200 dark:hover:bg-white dark:hover:text-pelagus-light-blue
  }

  .btn-class-secondary {
    @apply border p-3 btn-hover rounded-md shadow-sm flex justify-center dark:bg-zinc-950 text-pelagus-dark-blue border-pelagus-dark-blue dark:text-pelagus-light-blue dark:border-pelagus-light-blue hover:text-white hover:bg-blue-800 dark:hover:bg-blue-400 dark:hover:text-white
  }

  .btn-class-action {
    @apply cursor-pointer text-pelagus-dark-blue dark:text-pelagus-light-blue secondary-bg-container mt-4 py-2 px-2 rounded hover:bg-pelagus-dark-blue hover:text-white dark:hover:bg-pelagus-light-blue dark:hover:text-white
  }

  .input-class {
    @apply bg-transparent w-full rounded-md border-black dark:border-white pr-12 shadow-sm px-2 py-1 focus:outline-none focus:ring-0 active:border-none active:ring-0 active:ring-offset-0
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* CSSTransition styles */
.tab-enter {
  opacity: 0;
  /* transform: translateY(-10px); */
}
.tab-enter-active {
  opacity: 1;
  transform: translateY(0);
  /* transition: opacity 300ms, transform 300ms; */
}
.tab-exit {
  opacity: 1;
}
.tab-exit-active {
  opacity: 0;
  /* transform: translateY(-10px); */
  /* transition: opacity 300ms, transform 300ms; */
}


/* Congratulations styles */
/* Congratulations.css */
.congratulations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.congratulations-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.congratulations-subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.congratulations-continue-btn {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #4B5563;
  background-color: #10B981;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #A1A1AA;
}

.toggle-checkbox:active + .toggle-label {
  box-shadow: none;
}

.toggle-checkbox:focus + .toggle-label {
  box-shadow: 0 0 2px 3px rgba(34, 230, 159, 0.3);
}

.toggle-checkbox:active + .toggle-label {
  box-shadow: none;
}

.toggle-checkbox:checked:focus + .toggle-label {
  border-color: #34D399;
}

.toggle-checkbox:checked:focus:active + .toggle-label {
  background-color: #1F2937;
}

.toggle-label {
  transition: background-color 0.5s ease-in;
}

.toggle-checkbox {
  transition: right 0.5s ease-in, background-color 0.5s ease-in, border-color 0.5s ease-in;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}